# sudo systemctl enable seabot2.driver.service
[Unit]
Description= Launch seabot2 drivers

[Service]
#Environment="HOME=/home/pi"
User=pi
Group=pi
UMask=022
ExecStart=/bin/zsh -c "source /home/pi/.zshrc && ros2 launch seabot2 driver_launch.py"
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
