# sudo systemctl daemon-reload
# sudo systemctl enable seabot2.record.service

[Unit]
Description= Launch seabot2 record

[Service]
User=pi
Group=pi
UMask=022
ExecStart=/bin/zsh -c "source /home/pi/.zshrc && ros2 launch seabot2 record_launch.py"
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
